.App {
  text-align: center;
    
}
.App nav{
background-color:midnightblue;
}

.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.App li {
  display: inline-block;
  margin: 20px;
}

.App a {
  text-decoration: none;
  color:grey;
}
.App button {
  background-color:midnightblue;
}



.App a:hover,
.App a:active {
  text-decoration: none;
  color: goldenrod;

}